.OverlayList {
    display: flex;
    flex-direction: column;
}

.OverlayList > button {
    padding: 8px;
    margin-top: 6px;
}

.OverlayListEntry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.OverlayListEntry > img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}