.OverlayList {
    display: flex;
    flex-direction: column;
}

.OverlayList > button {
    padding: 8px;
    margin-top: 6px;
}

.OverlayListEntry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 24rem;
    gap: 1.5rem;
    height: 2.5rem;
}

.OverlayList span {
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 2.5rem;
}

.OverlayListEntry > div > img {
    max-width: 2.5rem;
    max-height: 2.5rem;
    border-radius: 100%;
}

.coordinate-display {
    width: 3rem;
}