.Overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 10px;
    right: 80px;
    height: max-content;
    width: max-content;
    pointer-events: all;
    gap: 1rem;
    max-width: 80vw;
    max-height: 90vh;
    flex-grow: 0;
    flex-wrap: nowrap;
    overflow: auto;
}

.Overlay > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.Overlay h1 {
    max-width: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Overlay > nav > div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.Overlay > nav > div > button > img {
    width: 1rem;
    height: 1rem;
}

.Overlay input[type="number"] {
    width: 3.5rem;
}