.Overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    pointer-events: all;
    gap: 1rem;
    flex-grow: 0;
    flex-wrap: nowrap;
    overflow: auto;
    width: 100vw;
    bottom: 0;
    left: 0;
    border-radius: var(--radius-box);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.Overlay > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.Overlay h1 {
    max-width: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Overlay > nav > div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.Overlay > nav > div > button > img {
    width: 1rem;
    height: 1rem;
}

.Overlay input[type="number"] {
    width: 3.5rem;
}

@media only screen and (min-width: 835px) {
    .Overlay {
        top: 10px;
        right: 80px;
        left: unset;
        height: max-content;
        width: max-content;
        max-width: 80vw;
        max-height: 90vh;
        border-radius: var(--radius-box);
    }

    .mobile-only {
        display: none !important;
    }
}