.App {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    pointer-events: none;
}

.App-logo {
    height: 40vmin;
}
.App-link {
    color: #09d3ac;
}

h1 {
    font-size: 16pt;
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.column {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.groupRow {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.Grid {
    display: grid;
    grid-template-columns: repeat(14, 2rem);
    gap: 8px;
}

.ColorCheckbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.icon {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.ColorCheckbox input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    margin: 0;
}

.ColorCheckbox input[type="checkbox"]:checked {
    border-color: #666;
}

.ColorCheckbox input[type="checkbox"]:checked::before {
    content: '✓';
    position: absolute;
    color: white;
    font-size: 16px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.ColorCheckbox span {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 14px;
}

.ColorCheckbox span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

.ColorCheckbox:hover span {
    visibility: visible;
}

.FileInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.FileInput > input::file-selector-button {
    display: none;
}

.FileInput > input[type=file] {
    height: auto;
    width: min-content;
}

.icon path {
    fill: var(--color-base-content);;
}

#imagePreview {
    min-height: 4rem;
    max-height: 12rem;
}

details {
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

summary {
    display: flex;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

tr {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}